.profilImg {
    width: 80px;
    margin-top: -40px;
    border-radius: 50%;
    border: solid 5px hsl(0, 0%, 100%);
}

.yearSlector {
    margin-top: 20px;
}

button {
    color: rgb(146, 146, 146);
    border: solid 1px;
    border-color: rgb(210, 210, 210);
}

.selected-btn {
    color: white;
    background-color: hsl(0, 0%, 9%);
    border-color: hsl(0, 0%, 9%);
}

.activityDatas {
    margin-top: 20px;
}

.activityTitle {
    font-size: small;
    font-weight: 600;
}

.yearDatas {
    font-size: 0.8em;
    white-space: nowrap; // Eviter les retours à la ligne
}

.yearData {
    margin-bottom: -3px;
}