<div class="d-flex justify-content-center">
    <img src="/assets/photos/indo2.jpg" class="profilImg postion-absolute" alt="Image 1" />
</div>
<h6 class="d-flex justify-content-center">Milo Parra</h6>
<div class="yearSlector d-flex justify-content-center">
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" class="btn" (click)="this.selectedYear = 0">2023</button>
        <button type="button" class="btn" (click)="this.selectedYear = 1">2024</button>
        <button type="button" class="btn" (click)="this.selectedYear = 2">2025</button>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="yearDatas row">
        <div class="col-6">
            <p class="yearData">Temps</p>
            <p class="yearData">Distance</p>
            <p class="yearData">Denivelé</p>
        </div>
        <div class="col-6">
            <p class="yearData">{{ this.runs[this.selectedYear].timeSum }}</p>
            <p class="yearData">{{ this.runs[this.selectedYear].distSum }}</p>
            <p class="yearData">{{ this.runs[this.selectedYear].denivSum }}</p>
        </div>
    </div>
</div>