<div class="modal fade" id="editRideModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form class="" (ngSubmit)="saveRide()">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit a ride</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="">
                <div class="form-floating form-control-sm">
                      <input type="date" id="date" class="form-control" [(ngModel)]="ride.date" name="date">
                      <label for="date">Date</label>
                  </div>
                  <div class="form-floating form-control-sm">
                      <input type="number" id="dist" class="form-control" [(ngModel)]="ride.dist" name="dist" required>
                      <label for="dist">Distance</label>
                  </div>
                  <div class="form-floating form-control-sm">
                      <input type="number" id="cumulCoureur" class="form-control" [(ngModel)]="ride.cumulCoureur" name="cumulCoureur">
                      <label for="cumulCoureur">Cumul Coureur</label>
                  </div>
                  <div class="form-floating form-control-sm">
                      <input type="number" id="cumulVelo" class="form-control" [(ngModel)]="ride.cumulVelo" name="cumulVelo">
                      <label for="cumulVelo">Cumul Velo</label>
                  </div>
                  <div class="form-floating form-control-sm">
                      <input type="number" id="deniv" class="form-control" [(ngModel)]="ride.deniv" name="deniv">
                      <label for="deniv">Denivele</label>
                  </div>
                  <div class="form-floating form-control-sm">
                      <input type="time" id="temps" class="form-control" [(ngModel)]="ride.temps" name="temps">
                      <label for="temps">Temps</label>
                  </div>
                  <div class="form-floating form-control-sm">
                      <input type="text" id="parcours" class="form-control" [(ngModel)]="ride.parcours" name="parcours">
                      <label for="parcours">Parcours</label>
                  </div> 
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-outline-primary bouton">Edit</button>
          </div>
        </form>
      </div>
    </div>
</div>