<div class="ridecomponent">
  <div class="d-flex justify-content-end">
    <button class="btn addButton" (click)="this.createMode = true" data-bs-toggle="modal" data-bs-target="#bikeModal">
      <i class="bi bi-plus-circle-fill h6"> NEW RIDE</i>
    </button>
  </div>

  <div class="ridetable">
    <table class="table table-sm table-striped align-middle table-borderless">
      <thead>
        <tr>
          <th>Date</th>
          <th>Temps</th>
          <th>Distance</th>
          <th>Cumul Coureur</th>
          <th>Cumul Velo</th>
          <th>Denivele</th>
          <th>Parcours</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ride of outings, let i = index">
          <td>{{ ride.formatted_date_sortie }}</td>
          <td>{{ ride.temps }}</td>
          <td>{{ ride.distance }} km</td>
          <td>{{ ride.cumul_coureur }} km</td>
          <td>{{ ride.cumul_velo }} km</td>
          <td>{{ ride.denivele }} m</td>
          <td>{{ ride.parcours }}</td>
          <td class="d-flex justify-content-end">
            <button class="btn deleteButton" (click)="openDeleteModal(i)" data-bs-toggle="modal"
              data-bs-target="#deleteRideModal">
              <i class="bi bi-trash"></i>
            </button>
            <button class="btn editButton" (click)="editRide(ride); this.createMode = false" data-bs-toggle="modal"
              data-bs-target="#bikeModal">
              <i class="bi bi-pen"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-bike-modal [modalRide]="editedRide" [createMode]="this.createMode" (saveChanges)="onSaveChanges()"
  (addNewRide)="onAddNewRide()"></app-bike-modal>
<div class="modal fade" id="deleteRideModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete this ride ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="removeRide()">YES</button>
      </div>
    </div>
  </div>
</div>