.ridecomponent {
    margin-top: 30px;
    padding: 30px;
}

.bouton {
    height: 40px;
    margin-top: 14px;
    margin-left: 10px;
}

.ridetable {
    margin-top: 20px;
}

.deleteButton {
    color: rgb(205, 50, 50);
}