<section class="h-100 h-custom">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-7">
                <div class="card border-light shadow rounded-3">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="../../assets/photos/rider1.jpeg" class="img-fluid h-100"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;"
                                alt="Sample photo">
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-4 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Sign in</h3>
                                <form class="px-md-2" (submit)="signin()" #signinForm="ngForm">
                                    <div data-mdb-input-init class="mb-4">
                                        <input type="email" class="form-control" [(ngModel)]="email" name="email"
                                            placeholder="Email" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <input type="text" class="form-control" [(ngModel)]="firstname"
                                                name="firstname" placeholder="Fist name" required>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <input type="text" class="form-control" [(ngModel)]="lastname"
                                                name="lastname" placeholder="Last name" required>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <input type="file" class="form-control" (change)="onFileSelected($event)">
                                    </div>
                                    <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                                        <div class="col-md-8">
                                            <input type="password" class="form-control" [(ngModel)]="password"
                                                name="password" placeholder="Mot de passe" required>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success"
                                        [disabled]="!signinForm.form.valid">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>