.generalcomponent {
    height: calc(100vh - 56px);
    /* Soustrait la hauteur de la barre de navigation */
    overflow: hidden;
    /* Évite le défilement indésirable */
}

.activity {
    opacity: 0.7;
}

.activity:hover {
    opacity: 1;
}

.object-cover {
    object-fit: cover;
    /* Recadre l'image en la centrant */
    object-position: center;
    /* Centre l'image */
}

.btngroup {
    display: none;
    /* Hide button */
    margin-top: -28px;
}

.activity:hover .btngroup {
    display: block;
    /* On :hover of div show button */
}

.btn {
    height: 100px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}