.object-cover {
    object-fit: cover;
    /* Recadre l'image en la centrant */
    object-position: center;
    /* Centre l'image */
}

.btn {
    height: 100px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}