<div class="generalcomponent">
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="activity position-relative col-3 p-0">
        <img src="/assets/photos/runner2.jpeg" class="img-fluid w-100 h-100 object-cover" alt="Image 1" />
        <div class="overlay d-flex flex-column position-absolute top-0 start-0 w-100">
          <div class="menu-item d-flex align-items-center justify-content-center text-white" data-bs-toggle="modal"
            data-bs-target="#runModal">Add Run</div>
          <div class="menu-item d-flex align-items-center justify-content-center text-white" routerLink="/running">My
            Runs</div>
          <div class="menu-item d-flex align-items-center justify-content-center text-white" routerLink="/dashboard">
            Stats</div>
        </div>
      </div>
      <div class="activity position-relative col-3 p-0">
        <img src="/assets/photos/rider1.jpeg" class="img-fluid w-100 h-100 object-cover" alt="Image 1" />
        <div class="overlay d-flex flex-column position-absolute top-0 start-0 w-100">
          <div class="menu-item d-flex align-items-center justify-content-center text-white" data-bs-toggle="modal"
            data-bs-target="#bikeModal">Add Ride</div>
          <div class="menu-item d-flex align-items-center justify-content-center text-white" routerLink="/bike">My
            Rides</div>
          <div class="menu-item d-flex align-items-center justify-content-center text-white" routerLink="/dashboard">
            Stats</div>
        </div>
      </div>
      <div class="activity position-relative col-3 p-0">
        <img src="/assets/photos/swimer1.jpeg" class="img-fluid w-100 h-100 object-cover" alt="Image 1" />
        <div class="overlay d-flex flex-column position-absolute top-0 start-0 w-100">
          <div class="menu-item d-flex align-items-center justify-content-center text-white" data-bs-toggle="modal"
            data-bs-target="#swimModal">Add Swim</div>
          <div class="menu-item d-flex align-items-center justify-content-center text-white" routerLink="/swim">My
            Swims</div>
          <div class="menu-item d-flex align-items-center justify-content-center text-white" routerLink="/dashboard">
            Stats</div>
        </div>
      </div>
      <div class="activity position-relative col-3 p-0">
        <img src="/assets/photos/fitness1.jpeg" class="img-fluid w-100 h-100 object-cover" alt="Image 1" />
        <div class="overlay d-flex flex-column position-absolute top-0 start-0 w-100">
          <div class="menu-item d-flex align-items-center justify-content-center text-white" routerLink="/fitness">
            My Sessions</div>
          <div class="menu-item d-flex align-items-center justify-content-center text-white" routerLink="/dashboard">
            Stats</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-run-modal [modalRun]="newRun" [createMode]="true"></app-run-modal>
<app-bike-modal [modalRide]="newRide" [createMode]="true"></app-bike-modal>
<app-swim-modal [modalSwim]="newSwim" [createMode]="true"></app-swim-modal>