<div class="runcomponent">
    <div class="runform">
        <form class="d-flex justify-content-start gap-3" #runForm="ngForm" (ngSubmit)="addRun()">
            <div class="row">
               <div class="form-floating form-control-sm col">
                    <input type="date" id="date" class="form-control" [(ngModel)]="newRun.date_run" name="date" required>
                    <label for="date">Date</label>
                </div>
                <div class="form-floating form-control-sm col">
                    <input type="number" id="dist" class="form-control" [(ngModel)]="newRun.distance" name="dist" required>
                    <label for="dist">Distance</label>
                </div>
                <div class="form-floating form-control-sm col">
                    <input type="number" id="cumul" class="form-control" [(ngModel)]="newRun.cumul" name="cumul">
                    <label for="cumul">Cumul</label>
                </div>
                <div class="form-floating form-control-sm col">
                    <input type="number" id="vitesse" class="form-control" [(ngModel)]="newRun.vitesse" name="vitesse">
                    <label for="vitesse">Vitesse</label>
                </div>
                <div class="form-floating form-control-sm col">
                    <input type="number" id="deniv" class="form-control" [(ngModel)]="newRun.denivele" name="deniv">
                    <label for="deniv">Denivele</label>
                </div>
                <div class="form-floating form-control-sm col">
                    <input type="time" id="temps" class="form-control" [(ngModel)]="newRun.temps" name="temps"  step="2">
                    <label for="temps">Temps</label>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary bouton" [disabled]="!runForm.form.valid">Ajouter</button>
        </form>
    </div>
    
    <div class="runtable">
        <table class="table table-striped align-middle table-borderless">
            <thead>
              <tr>
                <th>Date</th>
                <th>Distance</th>
                <th>Cumul</th>
                <th>Vitesse</th>
                <th>Denivele</th>
                <th>Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let run of runs, let i = index">
                <td>{{ run.date_run.slice(0, 10) }}</td>
                <td>{{ run.distance }} km</td>
                <td>{{ run.cumul }} km</td>
                <td>{{ run.vitesse }} min/km</td>
                <td>{{ run.denivele }} m</td>
                <td>{{ run.temps }}</td>
                <td>
                    <button class="btn deleteButton" (click)="removeRun(i)">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="btn editButton" (click)="editRun(run)" data-bs-toggle="modal" data-bs-target="#runModal">
                        <i class="bi bi-pen"></i>
                    </button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>  
</div>
<app-run-modal [modalRun]="editedRun" [createMode]="false"></app-run-modal>