.runcomponent {
    margin-top: 10px;
    padding: 30px;
}

.bouton {
    height: 40px;
    margin-top: 14px;
    margin-left: 10px;
}

.runtable {
    margin-top: 30px;
}

.deleteButton {
    color: rgb(205, 50, 50);
}