.runcomponent {
    margin-top: 30px;
    padding: 30px;
}

.bouton {
    height: 40px;
    margin-top: 14px;
    margin-left: 10px;
}

.runtable {
    margin-top: 20px;
}

.deleteButton {
    color: red;
}