.swimcomponent {
    padding: 20px 30px 30px;
}

.addButton {
    color: hsl(240, 100%, 33%);
    border: solid 1px hsl(240, 100%, 33%);
}

.addButton:hover {
    background-color: hsl(240, 100%, 33%);
    color: white;
}

.swimtable {
    margin-top: 10px;
}

.deleteButton {
    color: rgb(205, 50, 50);
}