<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">SPORTBOARD</a>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item">
           <a class="nav-link" href="/general">General</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/running">Running</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/bike">Bike</a>
         </li>
       </ul>
     </div>
   </div>
 </nav>

<router-outlet></router-outlet>