a {
    margin: 0px 20px 0px;
}

.navbar {
    background-color: hsl(240, 100%, 33%);
    padding-left: 10%;
    padding-right: 10%;
}

.corps {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.pages {
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    border-radius: 10px;
}

.profil {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: sticky;
    width: 23%;
    top: 116px; // Distance depuis le haut
    height: fit-content; // Ajuste la hauteur pour ne pas dépasser l'écran (La hauteur est ajustée en fonction du contenu)
}