<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">SPORTBOARD</a>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item active">
           <a routerLink="/general" routerLinkActive="active" class="nav-link">General</a>
         </li>
         <li class="nav-item">
           <a routerLink="/running" routerLinkActive="active" class="nav-link">Running</a>
         </li>
         <li class="nav-item">
           <a routerLink="/bike" routerLinkActive="active" class="nav-link">Bike</a>
         </li>
       </ul>
     </div>
   </div>
 </nav>

<router-outlet></router-outlet>