<div class="modal fade" id="bikeModal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form class="">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="createMode">Add a ride</h5>
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="!createMode">Edit a ride</h5>
          <button type="button" class="btn-close" (click)="cancelModification()" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="">
            <div class="form-floating form-control-sm">
              <input type="date" id="date" class="form-control" [(ngModel)]="modalRide.date_sortie" name="date">
              <label for="date">Date</label>
            </div>
            <div class="form-floating form-control-sm">
              <input type="time" id="temps" class="form-control" [(ngModel)]="modalRide.temps" name="temps" step="2">
              <label for="temps">Temps</label>
            </div>
            <div class="form-floating form-control-sm">
              <input type="number" id="dist" class="form-control" [(ngModel)]="modalRide.distance"
                (change)="cumulCalcul()" name="dist" required>
              <label for="dist">Distance</label>
            </div>
            <div class="form-floating form-control-sm">
              <input type="number" id="cumulCoureur" class="form-control" [(ngModel)]="modalRide.cumul_coureur"
                name="cumulCoureur">
              <label for="cumulCoureur">Cumul Coureur</label>
            </div>
            <div class="form-floating form-control-sm">
              <input type="number" id="cumulVelo" class="form-control" [(ngModel)]="modalRide.cumul_velo"
                name="cumulVelo">
              <label for="cumulVelo">Cumul Velo</label>
            </div>
            <div class="form-floating form-control-sm">
              <input type="number" id="deniv" class="form-control" [(ngModel)]="modalRide.denivele" name="deniv">
              <label for="deniv">Denivele</label>
            </div>
            <div class="form-floating form-control-sm">
              <input type="text" id="parcours" class="form-control" [(ngModel)]="modalRide.parcours" name="parcours">
              <label for="parcours">Parcours</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" (click)="cancelModification()"
            data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-outline-success" (click)="addRide()" data-bs-dismiss="modal"
            *ngIf="createMode">Add</button>
          <button type="button" class="btn btn-outline-success" (click)="saveRide()" data-bs-dismiss="modal"
            *ngIf="!createMode">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>