<div class="modal fade" id="swimModal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form class="">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="createMode">Add a swim</h5>
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="!createMode">Edit a swim</h5>
          <button type="button" class="btn-close" onclick="cancelModification()" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="">
            <div class="form-floating form-control-sm">
              <input type="date" id="date" class="form-control" [(ngModel)]="modalSwim.date_swim" name="date">
              <label for="date">Date</label>
            </div>
            <div class="form-floating form-control-sm">
              <input type="time" id="temps" class="form-control" [(ngModel)]="modalSwim.temps" name="temps" step="2">
              <label for="temps">Temps</label>
            </div>
            <div class="form-floating form-control-sm">
              <input type="number" id="dist" class="form-control" [(ngModel)]="modalSwim.distance" name="dist" required>
              <label for="dist">Distance</label>
            </div>
            <div class="form-floating form-control-sm">
              <input type="number" id="cumul" class="form-control" [(ngModel)]="modalSwim.cumul" name="cumul">
              <label for="cumul">Cumul</label>
            </div>
            <div class="form-floating form-control-sm">
              <input type="number" id="vitesse" class="form-control" [(ngModel)]="modalSwim.vitesse" name="vitesse">
              <label for="vitesse">Vitesse</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" onclick="cancelModification()"
            data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-outline-success" (click)="addSwim()" data-bs-dismiss="modal"
            *ngIf="createMode">Add</button>
          <button type="button" class="btn btn-outline-success" (click)="saveSwim()" data-bs-dismiss="modal"
            *ngIf="!createMode">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>