<div class="dashboardcomponent text-center">
  <div class="weekgraphs row gap-4">
    <div class="weekgraph row">
      <div class="title col-1">
        <p>RUNNING</p>
      </div>
      <div class="col-7">
        <app-weekrun-dashboard></app-weekrun-dashboard>
      </div>
      <div class="col-4"></div>

    </div>
    <div class="weekgraph row">
      <div class="title col-1">
        <p>CYCLING</p>
      </div>
      <div class="col-7">
        <app-weekride-dashboard></app-weekride-dashboard>
      </div>
      <div class="col-4"></div>

    </div>
    <div class="weekgraph row">
      <div class="title col-1">
        <p>SWIMMING</p>
      </div>
      <div class="col-7">
        <app-weekswim-dashboard></app-weekswim-dashboard>
      </div>
      <div class="col-4"></div>

    </div>
  </div>
</div>