.dashboardcomponent {
    padding: 30px;
    padding-bottom: 40px;
}

.weekgraphs {
    margin-top: -10px;
}

.weekgraph {
    margin-bottom: -40px;
}

.title {
    transform: rotate(-0.25turn);
    margin-right: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin-left: 20px;
    color: #0000cc;
    font-size: x-large;
    font-weight: 500;
}