<div class="dashboardcomponent text-center">
  <div class="row">
    <div class="col">
      1 of 1
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>RUN</h3>
      <app-weekrun-dashboard></app-weekrun-dashboard>
    </div>
    <div class="col">
      <h3>RIDE</h3>
      <app-weekride-dashboard></app-weekride-dashboard>
    </div>
    <div class="col">
      <h3>SWIM</h3>
      <app-weekswim-dashboard></app-weekswim-dashboard>
    </div>
  </div>
</div>