/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/azure-blue.css";

html,
body {
    background-color: rgb(237, 243, 248);
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

th {
    font-size: small;
    font-weight: 500;
    text-transform: uppercase;
}

td {
    font-size: small;
}