<div class="fitnesscomponent">
    <div class="fitnessform row">
        <form class="seanceform col-6" #fitnessForm="ngForm" (ngSubmit)="addSeance()">
            <div class="row">
                <div class="form-floating form-control-sm col">
                    <input type="date" id="date" class="form-control" [(ngModel)]="newSeance.date_seance" name="date" required>
                    <label for="date">Date</label>
                </div>
                <div class="form-floating form-control-sm col">
                    <button type="button" class="btn btn-outline-primary bouton" (click)="addExercice()">Add Exercice</button>
                    <button type="submit" class="btn btn-outline-success boutonSave" [disabled]="!fitnessForm.form.valid">Save</button>
                </div>
            </div>
            <div class="row">
                <div class="form-floating form-control-sm col">
                    <ng-template #container></ng-template>
                </div>
            </div>
        </form>
        <div class="seanceview col-6">
            
        </div>
    </div>
    <div class="fitnesstable">
        <table class="table table-striped align-middle table-borderless">
            <thead>
              <tr>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let seance of seances, let i = index">
                <td>{{ seance.date_seance.slice(0, 10) }}</td>
                <td>
                    <button class="btn deleteButton" (click)="removeSeance(i)">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="btn editButton" (click)="editSeance(seance)" data-bs-toggle="modal" data-bs-target="#runModal">
                        <i class="bi bi-pen"></i>
                    </button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>