.fitnesscomponent {
    margin-top: 10px;
    padding: 30px;
}

.bouton {
    border-radius: 100em;
}

.boutonSave {
    height: 40px;
    margin-top: 9px;
    margin-left: 10px;
}

.deleteButton {
    color: rgb(205, 50, 50);
}

.bi-plus-circle {
    padding-right: 10px;
}