<apx-chart [series]="series1" [chart]="chart1" [dataLabels]="dataLabels1" [stroke]="stroke1"
    [plotOptions]="plotOptions1" [markers]="markers1" [title]="title1" [fill]="fill1" [yaxis]="yaxis1" [xaxis]="xaxis1"
    [tooltip]="tooltip1" [autoUpdateSeries]="true"></apx-chart>
<apx-chart [series]="series2" [chart]="chart2" [dataLabels]="dataLabels2" [stroke]="stroke2"
    [plotOptions]="plotOptions2" [markers]="markers2" [title]="title2" [fill]="fill2" [yaxis]="yaxis2" [xaxis]="xaxis2"
    [tooltip]="tooltip2" [autoUpdateSeries]="true"></apx-chart>